@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

body{
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

html {
  scrollbar-width: thin;
}

html::-webkit-scrollbar {
  width: 3px;
  height: 3px; /* A altura só é vista quando a rolagem é horizontal */
}

html::-webkit-scrollbar-track {
  background: transparent;
  padding: 2px;
}

html::-webkit-scrollbar-thumb {
  background-color: #0D68AF;
}

.bg-main{
  background-image: url(/src/assets/bg_white.webp);
}
#padrao{
  background-image: url(/src/assets/padrão.svg);
}

.bg-remigio-da-gente {
  background-image: url(/src/assets/bg_site.png);
}

.bg-avatar{
  background-image: url(/src/assets/avatar.webp);
}
.bg-avatar-2{
  background-image: url(/src/assets/avatar2.webp);
}
.bg-1{
  background-image: url(/src/assets/1.webp);
}
.bg-2{
  background-image: url(/src/assets/2.webp);
}
.bg-3{
  background-image: url(/src/assets/3.webp);
}
.bg-4{
  background-image: url(/src/assets/4.webp);
}
.bg-5{
  background-image: url(/src/assets/5.webp);
}
.bg-6{
  background-image: url(/src/assets/6.webp);
}
.bg-7{
  background-image: url(/src/assets/7.webp);
}
